@import url("reset.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,600italic,700italic);
/* ^2 SASS VARIABLES
*************************************************************************/
/* ^3	GLOBAL CLASSES
*************************************************************************/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.oldbrowser {
  padding: 0.4em 0;
  margin: 0;
  text-align: center;
  background: #ff6600;
  color: white; }

.oldbrowser a {
  color: black; }
  .oldbrowser a:hover {
    color: #cccccc; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333333;
  margin: 1em 0;
  padding: 0; }

a {
  text-decoration: none; }

.hide {
  display: none; }

button[type=submit] {
  height: 25px;
  width: 25px;
  float: left;
  border: 0;
  background: #ff6600 url(../img/sprite.png) no-repeat -83px -74px; }
  button[type=submit]:hover {
    background-color: #cccccc; }

/* 
*************************************************************************/
/*** HOMEPAGE ***/
#TopContent {
  background: #212121;
  float: left;
  padding: 20px;
  width: 980px; }
  #TopContent .item {
    float: left;
    padding: 0 26px;
    width: 272px;
    border-right: 1px dotted white; }
    #TopContent .item h2 {
      color: #ff6600;
      font-size: 1.1em;
      font-family: "Century", Georgia, "Times New Roman", Times, serif; }
    #TopContent .item p {
      color: white;
      font-size: 0.7em; }
      #TopContent .item p a {
        color: #ff6600; }
        #TopContent .item p a:hover {
          text-decoration: underline; }
    #TopContent .item:last-of-type {
      border-right: none; }

#BottomContent {
  float: left;
  padding: 20px 0; }
  #BottomContent .item {
    float: left;
    padding: 0 26px 0 166px;
    position: relative;
    width: 132px;
    border-right: 1px dotted #cccccc; }
    #BottomContent .item img {
      position: absolute;
      top: 0.8em;
      left: 26px; }
    #BottomContent .item h3 {
      color: #ff6600;
      font-size: 1em;
      margin: 0.8em 0;
      font-family: "Century", Georgia, "Times New Roman", Times, serif; }
    #BottomContent .item p {
      color: white;
      font-size: 0.7em; }
      #BottomContent .item p a {
        color: #ff6600; }
        #BottomContent .item p a:hover {
          text-decoration: underline; }
    #BottomContent .item:last-of-type {
      border-right: none; }

/*** END HOMEPAGE ***/
#LeftSidebar {
  float: left;
  height: 100%;
  padding: 30px 30px 190px;
  position: relative;
  width: 190px;
  background: #333333;
  color: white; }
  #LeftSidebar nav ul.menu {
    border-bottom: 1px dotted white;
    margin: 0 0 18px 0;
    padding: 0 0 20px 0; }
    #LeftSidebar nav ul.menu li {
      font-size: 0.7em; }
      #LeftSidebar nav ul.menu li a {
        color: white;
        display: inline-block;
        margin: 0;
        padding: 0.35em 0; }
        #LeftSidebar nav ul.menu li a.selected, #LeftSidebar nav ul.menu li a:hover {
          color: #ff6600; }
      #LeftSidebar nav ul.menu li h3 {
        color: #ff6600;
        display: inline-block;
        margin: 0;
        padding: 0.35em 0;
        font-size: 1em;
        font-weight: normal; }

#LeftInfo {
  position: absolute;
  top: -210px;
  width: 210px;
  height: 210px;
  padding: 20px;
  font-family: "Century", Georgia, "Times New Roman", Times, serif; }
  #LeftInfo h4 {
    color: #ff6600;
    font-size: 1.1em;
    font-weight: normal;
    margin: 10px 0; }
  #LeftInfo p {
    font-size: 1em;
    line-height: 1.4em; }
    #LeftInfo p a {
      color: #ff6600; }
      #LeftInfo p a:hover {
        text-decoration: underline; }

.news #MainContent {
  background: #444; }

#Gallery {
  float: left;
  padding: 0 0 30px 25px;
  width: 745px;
  background: #444; }
  #Gallery h2 {
    color: #ff6600;
    font-weight: normal;
    font-family: "Century", Georgia, "Times New Roman", Times, serif; }
  #Gallery p {
    font-size: 0.8em;
    line-height: 1.5em; }

#Filter {
  font-size: 0.8em;
  color: #ff6600;
  margin-bottom: 20px; }
  #Filter a {
    color: white; }
    #Filter a:hover {
      color: #ff6600; }
    #Filter a:not(:last-of-type):after {
      content: " / ";
      padding: 0 3px; }
    #Filter a:first-of-type {
      padding-left: 6px; }

#ItemsGallery article a {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  /*&:hover img {
      -webkit-transition: all 350ms ease;
      -moz-transition: all 350ms ease;
      -o-transition: all 350ms ease;
      -ms-transition: all 350ms ease;
      transition: all 350ms ease;
  }*/ }
  #ItemsGallery article a h3 {
    color: #ff6600;
    font-size: 0.8em;
    line-height: 1.3em;
    font-weight: normal;
    margin: 0;
    width: 100%; }
  #ItemsGallery article a h4 {
    color: white;
    font-size: 0.7em;
    line-height: 1em;
    font-weight: normal;
    margin: 0 0 20px 0; }

#MainContent {
  float: left;
  padding: 0 25px 30px;
  width: 495px; }
  #MainContent h2 {
    color: #ff6600;
    font-weight: normal;
    font-family: "Century", Georgia, "Times New Roman", Times, serif; }
  #MainContent p {
    font-size: 0.8em;
    line-height: 1.5em; }

#ThumbLinks {
  border-top: 1px dotted #212121;
  float: left;
  margin: 20px 0 10px;
  padding: 24px 0 0; }
  #ThumbLinks ul {
    margin: 0 0 18px 0;
    padding: 0 0 20px 0;
    list-style: none;
    list-style-image: none; }
    #ThumbLinks ul li {
      float: left;
      width: 130px;
      margin: 0 30px 20px 0; }
      #ThumbLinks ul li a {
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;
        font-family: "Century", Georgia, "Times New Roman", Times, serif; }
        #ThumbLinks ul li a h4 {
          color: #ff6600;
          font-size: 0.8em;
          line-height: 1.3em;
          font-weight: normal;
          margin: 0; }
        #ThumbLinks ul li a h5 {
          color: #212121;
          font-size: 0.8em;
          line-height: 1em;
          font-weight: normal;
          margin: 0; }
    #ThumbLinks ul li:last-child {
      margin-right: 0; }

#News article {
  padding-left: 170px;
  position: relative;
  color: white;
  margin-bottom: 20px; }
  #News article img {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 20px; }
  #News article .itemNews {
    position: relative;
    border-bottom: 1px dotted white;
    min-height: 100px; }
    #News article .itemNews h2 {
      font-size: 0.7em;
      margin: 0;
      font-family: "Open Sans", Helvetica, Arial, sans-serif; }
    #News article .itemNews p {
      font-size: 0.7em;
      margin: 0 0 0.8em 0; }
      #News article .itemNews p .date {
        font-size: 0.7em;
        margin-bottom: 0.4em; }
    #News article .itemNews a span {
      display: none; }
    #News article .itemNews a.readMore {
      position: absolute;
      bottom: -1px;
      right: 0;
      height: 20px;
      width: 20px;
      background: #ff6600 url(../img/sprite.png) no-repeat -85px -76px; }

#Pagination {
  color: #ff6600; }
  #Pagination p {
    float: right;
    font-size: 0.7em; }
    #Pagination p a {
      color: white; }
    #Pagination p span {
      color: white; }

#RightSidebar {
  float: right;
  padding: 20px 30px 30px;
  position: relative;
  width: 165px; }
  #RightSidebar h3 {
    color: #ff6600;
    font-size: 1em;
    font-weight: normal;
    font-family: "Century", Georgia, "Times New Roman", Times, serif; }
  #RightSidebar p {
    font-size: 0.8em; }
  #RightSidebar a {
    color: #ff6600; }
  #RightSidebar div.rightInfo {
    font-family: "Century", Georgia, "Times New Roman", Times, serif;
    color: #ff6600; }
    #RightSidebar div.rightInfo p {
      font-size: 1em;
      line-height: 1.3em; }
    #RightSidebar div.rightInfo a {
      font-size: 1em;
      line-height: 1.3em;
      color: #212121; }
      #RightSidebar div.rightInfo a:hover {
        text-decoration: underline; }
  #RightSidebar div.featured {
    font-family: "Century", Georgia, "Times New Roman", Times, serif;
    background: #DAD6CA; }
    #RightSidebar div.featured h4 {
      color: #212121;
      font-size: 0.9em;
      line-height: 1.1em;
      font-weight: normal;
      margin: 0;
      padding: 5px 8px 0; }
  #RightSidebar div.item {
    border-bottom: 1px dotted #212121;
    margin: 0 0 18px 0;
    padding: 0 0 10px 0; }
  #RightSidebar div.item:last-child {
    border-bottom: none; }

#LatestNews ul {
  margin: 0;
  padding: 0 0 10px 0;
  list-style: none;
  list-style-image: none; }
  #LatestNews ul li {
    font-size: 0.8em; }
    #LatestNews ul li a {
      color: #212121;
      display: inline-block;
      margin: 0;
      padding: 0.35em 0; }
      #LatestNews ul li a:hover {
        color: #ff6600; }

.sidebar-panel {
  position: absolute;
  height: 100%;
  width: 250px;
  background: #333333; }

/* ==========================================================================
ISOTOPE SORTER
========================================================================== */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity; }

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }
